<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xtelsolution.xmec">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--android:name="android.support.multidex.MultiDexApplication"-->

    <application
        android:name=".xmec.views.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".xmec.views.activity.SplashScreen"
            android:theme="@style/NoACtionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".xmec.views.activity.MainActivity" />
        <activity
            android:name=".xmec.views.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".xmec.views.activity.RegisterActivity"
            android:parentActivityName=".xmec.views.activity.LoginActivity"
            android:theme="@style/NoACtionBar"/>
        <activity
            android:name=".xmec.views.activity.ConfirmOPTActivity"
            android:parentActivityName=".xmec.views.activity.RegisterActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".xmec.views.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".xmec.views.activity.DetailHospitalActivity"
            android:parentActivityName=".xmec.views.activity.HomeActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".xmec.views.activity.AddMedicalActivity"
            android:parentActivityName=".xmec.views.activity.HomeActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".xmec.views.activity.DetailDiseaseActivity"
            android:theme="@style/MaterialTab" />
        <activity
            android:name=".xmec.views.activity.DiseaseDiagnosiActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity android:name=".xmec.views.activity.DetailControlDiseaseActivity" />
        <activity android:name=".xmec.views.activity.DetailBodyPart" />
        <activity
            android:name=".xmec.views.activity.UpdateInfoActivity"
            android:theme="@style/HomeActivityTheme" />
        <activity
            android:name=".xmec.views.activity.ProfileActivity"
            android:theme="@style/HomeActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".xmec.views.activity.AddIllnessActivity"
            android:parentActivityName=".xmec.views.activity.AddMedicalActivity"
            android:theme="@style/HomeActivityTheme"/>
        <activity
            android:name=".xmec.views.widget.TempActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <meta-data
            android:name="xtel_service_code"
            android:value="@string/service_code_key" />
        <meta-data android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity
            android:name="com.facebook.accountkit.ui.AccountKitActivity"
            android:theme="@style/AppLoginTheme"
            tools:replace="android:theme"/>
    </application>

</manifest>